<connectionStrings>
  <add name="SalonAddict.OrderProvider" connectionString="Data Source=mssql1241int.cp.blacknight.com,1433;Initial Catalog=db1072342_uk;User Id=u1072342_sauk;Password=!aouks63.lamfz;" />
  <add name="SalonAddict.AuditProvider" connectionString="Data Source=mssql1241int.cp.blacknight.com,1433;Initial Catalog=db1072342_uk;User Id=u1072342_sauk;Password=!aouks63.lamfz;" />
  <add name="SalonAddict.BusinessProvider" connectionString="Data Source=mssql1241int.cp.blacknight.com,1433;Initial Catalog=db1072342_uk;User Id=u1072342_sauk;Password=!aouks63.lamfz;" />
  <add name="SalonAddict.ServiceProvider" connectionString="Data Source=mssql1241int.cp.blacknight.com,1433;Initial Catalog=db1072342_uk;User Id=u1072342_sauk;Password=!aouks63.lamfz;" />
  <add name="SalonAddict.ConfigurationProvider" connectionString="Data Source=mssql1241int.cp.blacknight.com,1433;Initial Catalog=db1072342_uk;User Id=u1072342_sauk;Password=!aouks63.lamfz;" />
  <add name="SalonAddict.CurrencyProvider" connectionString="Data Source=mssql1241int.cp.blacknight.com,1433;Initial Catalog=db1072342_uk;User Id=u1072342_sauk;Password=!aouks63.lamfz;" />
  <add name="SalonAddict.CustomerProvider" connectionString="Data Source=mssql1241int.cp.blacknight.com,1433;Initial Catalog=db1072342_uk;User Id=u1072342_sauk;Password=!aouks63.lamfz;" />
  <add name="SalonAddict.LanguageProvider" connectionString="Data Source=mssql1241int.cp.blacknight.com,1433;Initial Catalog=db1072342_uk;User Id=u1072342_sauk;Password=!aouks63.lamfz;" />
  <add name="SalonAddict.LocalizationProvider" connectionString="Data Source=mssql1241int.cp.blacknight.com,1433;Initial Catalog=db1072342_uk;User Id=u1072342_sauk;Password=!aouks63.lamfz;" />
  <add name="SalonAddict.LocationProvider" connectionString="Data Source=mssql1241int.cp.blacknight.com,1433;Initial Catalog=db1072342_uk;User Id=u1072342_sauk;Password=!aouks63.lamfz;" />
  <add name="SalonAddict.MediaProvider" connectionString="Data Source=mssql1241int.cp.blacknight.com,1433;Initial Catalog=db1072342_uk;User Id=u1072342_sauk;Password=!aouks63.lamfz;" />
  <add name="SalonAddict.MessageProvider" connectionString="Data Source=mssql1241int.cp.blacknight.com,1433;Initial Catalog=db1072342_uk;User Id=u1072342_sauk;Password=!aouks63.lamfz;" />
  <add name="SalonAddict.OpportunityProvider" connectionString="Data Source=mssql1241int.cp.blacknight.com,1433;Initial Catalog=db1072342_uk;User Id=u1072342_sauk;Password=!aouks63.lamfz;" />
  <add name="SalonAddict.PaymentProvider" connectionString="Data Source=mssql1241int.cp.blacknight.com,1433;Initial Catalog=db1072342_uk;User Id=u1072342_sauk;Password=!aouks63.lamfz;" />
  <add name="SalonAddict.PromotionProvider" connectionString="Data Source=mssql1241int.cp.blacknight.com,1433;Initial Catalog=db1072342_uk;User Id=u1072342_sauk;Password=!aouks63.lamfz;" />
  <add name="SalonAddict.SecurityProvider" connectionString="Data Source=mssql1241int.cp.blacknight.com,1433;Initial Catalog=db1072342_uk;User Id=u1072342_sauk;Password=!aouks63.lamfz;" />
  <add name="SalonAddict.StaffProvider" connectionString="Data Source=mssql1241int.cp.blacknight.com,1433;Initial Catalog=db1072342_uk;User Id=u1072342_sauk;Password=!aouks63.lamfz;" />
  <add name="SalonAddict.TopicProvider" connectionString="Data Source=mssql1241int.cp.blacknight.com,1433;Initial Catalog=db1072342_uk;User Id=u1072342_sauk;Password=!aouks63.lamfz;" />
  <add name="SalonAddict.TaxProvider" connectionString="Data Source=mssql1241int.cp.blacknight.com,1433;Initial Catalog=db1072342_uk;User Id=u1072342_sauk;Password=!aouks63.lamfz;" />
  <add name="SalonAddict.KeywordSuggestionsProvider" connectionString="Data Source=mssql1241int.cp.blacknight.com,1433;Initial Catalog=db1072342_uk;User Id=u1072342_sauk;Password=!aouks63.lamfz;" />
</connectionStrings>