<appSettings>
  <add key="SACache:IsEnabled" value="True"/>
  <add key="FCKeditor:BasePath" value="~/Administration/Editors/FCKeditor/"/>
  <add key="FCKeditor:UserFilesPath" value="~/images/"/>
  <add key="RE:ApplicationBlocks:SymmetricUtility:Keys" value="506A3930|A5E94A44|9FA8A8B6|3B333D35|173197DA|B622E9A3|28B6087F|F16B5729|5C8F0A7F|8483B31E|225AC35F|A09620CD|DBCBA260|EA69B0EC|81352465|7A9D8C87"/>
</appSettings>