<urlrewritingnet
   rewriteOnlyVirtualUrls="true"
   contextItemsPrefix="QueryString"
   defaultPage="default.aspx"
   defaultProvider="RegEx"
   xmlns="http://www.urlrewriting.net/schemas/config/2006/07" >
  <rewrites>
    <add name="BookAppointment" virtualUrl="^~/bookappointment/([0-9]*)-([\w-]*)\.aspx(?:\?(.*))?"
         rewriteUrlParameter="ExcludeFromClientQueryString"
         destinationUrl="~/Book-Appointment.aspx?BusinessID=$1"
         ignoreCase="true" />
    <add name="SalonReviews" virtualUrl="^~/reviews/([0-9]*)-([\w-]*)\.aspx(?:\?(.*))?"
         rewriteUrlParameter="ExcludeFromClientQueryString"
         destinationUrl="~/Reviews.aspx?BusinessID=$1"
         ignoreCase="true" />
    <add name="SalonMap" virtualUrl="^~/map/([0-9]*)-([\w-]*)\.aspx(?:\?(.*))?"
         rewriteUrlParameter="ExcludeFromClientQueryString"
         destinationUrl="~/Map.aspx?BusinessID=$1"
         ignoreCase="true" />
    <add name="Checkout" virtualUrl="^~/checkout/([0-9]*)-([\w-]*)\.aspx(?:\?(.*))?"
         rewriteUrlParameter="ExcludeFromClientQueryString"
         destinationUrl="~/Checkout.aspx?BusinessID=$1"
         ignoreCase="true" />
    <add name="CustomerReview" virtualUrl="~/salon/review.aspx"
         rewriteUrlParameter="ExcludeFromClientQueryString"
         destinationUrl="~/Customer-Review.aspx"
         ignoreCase="true" />
  </rewrites>
</urlrewritingnet>
