<appSettings>
  <!-- GLOBAL -->
  <add key="Global.DefaultPageTitle" value="Salon Portal" />
  <add key="Global.PageTitleFormat" value="{0} - salonaddict.co.uk"/>
  <add key="Global.DefaultTimeZoneID" value="GMT Standard Time"/>
  <add key="Global.CustomerSupportEmail" value="support@salonaddict.co.uk" />
  <add key="Global.TechnicalSupportEmail" value="support@salonaddict.co.uk" />
  
  <add key="SACache:IsEnabled" value="True"/>
  <add key="RE:ApplicationBlocks:SymmetricUtility:Keys" value="506A3930|A5E94A44|9FA8A8B6|3B333D35|173197DA|B622E9A3|28B6087F|F16B5729|5C8F0A7F|8483B31E|225AC35F|A09620CD|DBCBA260|EA69B0EC|81352465|7A9D8C87"/>

  <add key="Schedule.MinimumNumberOfScheduleMinutes" value="15"/>
  <add key="Schedule.Colors" value="#dc2a64,#00b003,#005cfd,#2f1d60,#a63257,#bf0a0a,#ff5800,#f7b11c,#64c911,#2664a9,#5c29a0,#da537f,#e25454,#eb6024,#deae70,#499737,#16aaef,#5f40b4,#ca3d6b,#b33636,#b33636,#f69829,#f69829,#f69829,#8a5be0,#9d8b94,#da5757,#f7753d,#9e7826,#64c911,#4f3aef,#ad60f6,#c95078,#f04343,#ffc485,#db9037,#62e17d,#247cdf,#6c3f97,#995c70,#fb5555,#f16a2f,#f58e32,#78b015,#29566b,#715ea4,#832424,#d44b03,#f7c81c"/>
</appSettings>