/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*

	TEXTBOX 

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.textbox-date
{
	width:100px;
	text-align:left;
	padding:3px 5px 3px 5px;
	color: #000;
	font-size:14px;
	font-family:Arial, Hevetica, Sans-Serif;
	border:solid 1px #cecece;
}

.textbox
{
	width:180px;
	text-align:left;
	padding:3px 5px 3px 5px;
	color: #000;
	font-size:14px;
	font-family:Arial, Hevetica, Sans-Serif;
	border:solid 1px #cecece;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*

	BUTTON 

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.button-submit
{
	cursor: pointer;
	padding:5px 20px 5px 20px;
	color: #fff;
	font-size:14px;
	font-family:Arial, Hevetica, Sans-Serif;
	text-align:center;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	background: #153960;
	outline: none;
	border: solid 1px #0a1d30;
	-moz-border-radius: 6px 6px 6px 6px; /* Firefox */
	-webkit-border-radius: 6px 6px 6px 6px; /* Safari, Chrome */
	border-radius: 6px 6px 6px 6px; /* CSS3 */
}

.button-submit:hover
{
	background: #0a1d30;
}

.button-submit-mini
{
	cursor: pointer;
	padding:2px 10px 2px 10px;
	color: #fff;
	font-size:12px;
	font-family:Arial, Hevetica, Sans-Serif;
	text-align:center;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	background: #153960;
	outline: none;
	border: solid 1px #0a1d30;
	-moz-border-radius: 6px 6px 6px 6px; /* Firefox */
	-webkit-border-radius: 6px 6px 6px 6px; /* Safari, Chrome */
	border-radius: 6px 6px 6px 6px; /* CSS3 */
}

.button-submit-mini:hover
{
	background: #0a1d30;
}

.button-submit-secure
{
	cursor: pointer;
	padding:5px 20px 5px 20px;
	color: #fff;
	font-size:14px;
	font-family:Arial, Hevetica, Sans-Serif;
	text-align:center;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	background: #6e6e6e;
	outline: none;
	border: solid 1px #555;
	-moz-border-radius: 6px 6px 6px 6px; /* Firefox */
	-webkit-border-radius: 6px 6px 6px 6px; /* Safari, Chrome */
	border-radius: 6px 6px 6px 6px; /* CSS3 */
}

.button-submit-secure:hover
{
	background: #616161;
}

.button-submit-mini-secure
{
	cursor: pointer;
	padding:2px 10px 2px 10px;
	color: #fff;
	font-size:12px;
	font-family:Arial, Hevetica, Sans-Serif;
	text-align:center;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	background: #6e6e6e;
	outline: none;
	border: solid 1px #555;
	-moz-border-radius: 6px 6px 6px 6px; /* Firefox */
	-webkit-border-radius: 6px 6px 6px 6px; /* Safari, Chrome */
	border-radius: 6px 6px 6px 6px; /* CSS3 */
}

.button-submit-mini-secure:hover
{
	background: #616161;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*

	LINK BUTTON 

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.lbutton-available-time
{
	display:block;
	cursor: pointer;
	margin-right:2px;
	margin-bottom:2px;
	padding-top:3px;
    width:60px;
    height:20px;
	color: #d0d0d0;
	font-size:12px;
	font-family:Arial, Hevetica, Sans-Serif;
	text-align:center;
	text-decoration:none;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	background: #153960;
	outline: none;
	border: solid 1px #0a1d30;
	-moz-border-radius: 6px 6px 6px 6px; /* Firefox */
	-webkit-border-radius: 6px 6px 6px 6px; /* Safari, Chrome */
	border-radius: 6px 6px 6px 6px; /* CSS3 */
}

.lbutton-available-time:hover
{
	color:#f7f7f7;
	text-decoration:none;
	background: #0a1d30;
	border: solid 1px #0a1d30;
}

.lbutton-available-time-disabled
{
	display:block;
	cursor: default;
	margin-right:2px;
	margin-bottom:2px;
	padding-top:3px;
    width:60px;
    height:20px;
	color: #909090;
	font-size:12px;
	font-family:Arial, Hevetica, Sans-Serif;
	text-align:center;
	text-decoration:line-through;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	background: #fff;
	outline: none;
	border: solid 1px #b7b7b7;
	-moz-border-radius: 6px 6px 6px 6px; /* Firefox */
	-webkit-border-radius: 6px 6px 6px 6px; /* Safari, Chrome */
	border-radius: 6px 6px 6px 6px; /* CSS3 */
}

.lbutton-available-time-disabled:hover
{
	text-decoration:line-through;
	background: #fff;
}


.lbutton-blocked-time
{
	display:block;
	cursor: pointer;
	margin-right:2px;
	margin-bottom:2px;
	padding-top:3px;
    width:60px;
    height:20px;
	color: #333;
	font-size:12px;
	font-family:Arial, Hevetica, Sans-Serif;
	text-align:center;
	text-decoration:none;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	background: #fdee9d;
	outline: none;
	border: solid 1px #999;
	-moz-border-radius: 6px 6px 6px 6px; /* Firefox */
	-webkit-border-radius: 6px 6px 6px 6px; /* Safari, Chrome */
	border-radius: 6px 6px 6px 6px; /* CSS3 */
}

.lbutton-blocked-time:hover
{
	color:#333;
	text-decoration:none;
	background: #efdc77;
	border: solid 1px #555;
}

.lbutton-blocked-time-disabled
{
	display:block;
	cursor: pointer;
	margin-right:2px;
	margin-bottom:2px;
	padding-top:3px;
    width:60px;
    height:20px;
	color: #333;
	font-size:12px;
    text-decoration:line-through;
	font-family:Arial, Hevetica, Sans-Serif;
	text-align:center;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	background: #fff;
	outline: none;
	border: solid 1px #b7b7b7;
	-moz-border-radius: 6px 6px 6px 6px; /* Firefox */
	-webkit-border-radius: 6px 6px 6px 6px; /* Safari, Chrome */
	border-radius: 6px 6px 6px 6px; /* CSS3 */
}

.lbutton-blocked-time-disabled:hover
{
	text-decoration:line-through;
	background: #fff;
}

.lbutton-scheduled-time-readonly
{
	display:block;
	cursor: default;
	margin-right:2px;
	margin-bottom:2px;
	padding-top:3px;
    width:68px;
    height:20px;
	color: #333;
	font-size:12px;
	font-family:Arial, Hevetica, Sans-Serif;
	text-align:center;
	text-decoration:none;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	background: #fdee9d;
	outline: none;
	border: solid 1px #999;
	-moz-border-radius: 6px 6px 6px 6px; /* Firefox */
	-webkit-border-radius: 6px 6px 6px 6px; /* Safari, Chrome */
	border-radius: 6px 6px 6px 6px; /* CSS3 */
}

.lbutton-scheduled-time-readonly:hover
{
	text-decoration:none;
}

.lbutton-scheduled-time
{
	display:block;
	cursor: pointer;
	margin-right:2px;
	margin-bottom:2px;
	padding-top:3px;
    width:68px;
    height:20px;
	color: #333;
	font-size:12px;
	font-family:Arial, Hevetica, Sans-Serif;
	text-align:center;
	text-decoration:none;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	background: #fdee9d;
	outline: none;
	border: solid 1px #999;
	-moz-border-radius: 6px 6px 6px 6px; /* Firefox */
	-webkit-border-radius: 6px 6px 6px 6px; /* Safari, Chrome */
	border-radius: 6px 6px 6px 6px; /* CSS3 */
}

.lbutton-scheduled-time:hover
{
	color:#333;
	text-decoration:none;
	background: #efdc77;
	border: solid 1px #555;
}

.lbutton-scheduled-add
{
	cursor: pointer;
	margin-right:2px;
	padding:3px 14px 3px 14px;
	color: #333;
	font-size:12px;
	line-height:24px;
	font-family:Arial, Hevetica, Sans-Serif;
	text-align:center;
	text-decoration:none;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	background: #fff url('images/scheduling-add.png') center no-repeat;
	outline: none;
	border: solid 1px #999;
	-moz-border-radius: 6px 6px 6px 6px; /* Firefox */
	-webkit-border-radius: 6px 6px 6px 6px; /* Safari, Chrome */
	border-radius: 6px 6px 6px 6px; /* CSS3 */
}

.lbutton-scheduled-add:hover
{
	color:#333;
	text-decoration:none;
	background: #f7f7f7 url('images/scheduling-add.png') center no-repeat;
	border: solid 1px #555;
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*

	IMAGE BUTTON 

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.ibutton-calendar
{
}

.ibutton-grid-edit
{
}

.ibutton-grid-remove
{
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*

	DROPDOWNLIST 

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.dropdownlist
{
	padding:3px 5px 3px 5px;
	color: #222;
	font-size:14px;
	font-family:Arial, Hevetica, Sans-Serif;
	border:solid #1px #000;
}

.dropdownlist-service
{
	width:280px;
	padding:3px 5px 3px 5px;
	color: #222;
	font-size:14px;
	font-family:Arial, Hevetica, Sans-Serif;
	border:solid #1px #000;
}

.dropdownlist-employee
{
	width:140px;
	padding:3px 5px 3px 5px;
	color: #222;
	font-size:14px;
	font-family:Arial, Hevetica, Sans-Serif;
	border:solid #1px #000;
}

.dropdownlist-phone
{
	width:140px;
	padding:3px 5px 3px 5px;
	color: #222;
	font-size:14px;
	font-family:Arial, Hevetica, Sans-Serif;
	border:solid #1px #000;
}

.dropdownlist-yesno
{
	width:140px;
	padding:3px 5px 3px 5px;
	color: #222;
	font-size:14px;
	font-family:Arial, Hevetica, Sans-Serif;
	border:solid #1px #000;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*

	LABEL 

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.label-error
{
	display:block;
	color:#c80d0d;
	font-weight:bold;
	margin-bottom:15px;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*

	PANEL 

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.panel-mini-box
{
	padding:15px;
	background:#f9f9f9;
	border: solid 1px #f9f9f9;
	-moz-border-radius: 6px 6px 6px 6px; /* Firefox */
	-webkit-border-radius: 6px 6px 6px 6px; /* Safari, Chrome */
	border-radius: 6px 6px 6px 6px; /* CSS3 */
}

.panel-box
{
	padding:0px 20px 20px 20px;
	min-height:260px;
	border: solid 4px #f2f2f2;
	-moz-border-radius: 6px 6px 6px 6px; /* Firefox */
	-webkit-border-radius: 6px 6px 6px 6px; /* Safari, Chrome */
	border-radius: 6px 6px 6px 6px; /* CSS3 */
}

.panel-available-time
{
	margin-top:8px;
	padding:8px 15px 8px 15px;
	border: solid 1px #0a1d30;
	background:#f9f9f9;
	-moz-border-radius: 6px 6px 6px 6px; /* Firefox */
	-webkit-border-radius: 6px 6px 6px 6px; /* Safari, Chrome */
	border-radius: 6px 6px 6px 6px; /* CSS3 */
}

.panel-scheduling
{
	margin-top:8px;
	padding:8px 15px 8px 15px;
	border: solid 4px #f5f5f5;
	background:#f5f5f5;
	-moz-border-radius: 6px 6px 6px 6px; /* Firefox */
	-webkit-border-radius: 6px 6px 6px 6px; /* Safari, Chrome */
	border-radius: 6px 6px 6px 6px; /* CSS3 */
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*

	GRID VIEW

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.gridview
{
	margin-top:15px;
	border:solid 1px #cecece;
	background-color: #fff;
	margin-left: 0px;
	width: 100%;
}

.gridview td a
{
}

.gridview .altrow-style
{
	background-color: #f7f7f7;
}

.gridview .header-style th
{
	padding: 5px 10px 5px 10px;
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
	border:solid 1px #cecece;
	border-color:#cecece;
}

.gridview .header-style th a
{
}

.gridview .row-style td, .gridview .altrow-style td
{
	padding: 4px 10px 4px 10px;
	border-right:solid 1px #cecece;
	border-right-color: #cecece;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*

	MISC 

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.validator div,
.validator td
{
	color:#000;
	padding-top:2px;
	font-size:11px;
	font-family:Arial;
	background:#fffbd5;
	border: solid 1px #0a1d30;
}

.validator-highlight
{
}

.accordion-ajax 
{  
}
          
.accordion-header 
{  
    color: #fff;  
    background-color: #0a1d30;
    font-family:Arial,Hevetica,Sans-Serif;
    font-size: 14px;  
    font-weight: bold;  
    text-decoration:underline;
    padding: 5px;  
    margin-top: 6px;  
    cursor: pointer;
    border: 1px solid #0a1d30;  
}  
          
.accordion-header-selected
{  
    color: #fff;  
    background-color: #0a1d30;
    font-family:Arial,Hevetica,Sans-Serif;
    font-size: 14px;  
    font-weight: bold;  
    text-decoration:none;
    padding: 5px;  
    margin-top: 5px;  
    cursor: default;   
    border: 1px solid #0a1d30;
}  

.accordion-content 
{  
     background-color: #f9f9f9;  
     padding: 7px 15px 6px 15px;
     border: 1px dashed #0a1d30; 
     border-top: none;
} 