<?xml version="1.0"?>
<configuration>
  <system.web>
    <authorization>
      <allow roles="OWNER, SYS_ADMIN, VP_SALES, SALES_MGR, SALES, CSR_MGR, CSR, MRK_MGR, MRK, CONTENT_MGR" />
      <deny users="*" />
    </authorization>
    <pages theme="Administration">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </controls>
    </pages>
  </system.web>
</configuration>
