/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*

	HEADER CONTROL

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
div.header-template
{
	position:relative;
	height:70px;
	width:100%;
	background:#ce3fa5;
	background:url('images/bg_header.png') repeat-x;
}

div.header-template .logo
{
	position:absolute;
	top:2px;
	left:25px;
	display:block;
	width:277px;
	height:65px;
	background:transparent url('images/logo.png') no-repeat center;
}

div.header-template #header-links
{
	position:absolute;
	top:10px;
	right:20px;
	color:#fff;
}

div.header-template #header-links a
{
	color:#fff;
	text-decoration:none;
	font-weight:bold;
}

div.header-template #header-links a:hover
{
	text-decoration:underline;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*

	HEADER CONTROL

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
div.footer-template
{
	height:80px;
}